.admin-sidebar-menu {
  padding-top: 30px;
}
.admin-sidebar-menu li {
  padding: 15px 50px;
  font-weight: bold;
  cursor: pointer;
}

.admin-sidebar-menu li.active {
  background: #ffbd59;
}
.admin-sidebar-menu li span {
  margin-left: 10px;
}
.admin-sidebar-menu li.active svg path {
  stroke: #000;
}
